@page "/Dashboard"
@using System.Globalization;
@inherits DashboardBase;

<AuthorizeView>
    <Authorized>
            <div class="content_container">
                <h5>DASHBOARD</h5>
                <div class="data-container">
                    <div>
                        <div>
                            <h6><i class="bi bi-link-45deg"></i> all time visitors</h6>
                        <p>@if (visits != 0)
                            {
                                <span>@visits</span>
                            } visitors</p>
                    </div>
                        <div>
                            <h6><i class="bi bi-box2-fill"></i> today revenue</h6>
                        <p>@if (TodayRevenue == null)
                            {
                                <span>--</span>
                            }
                            else
                            {
                                <span>@TodayRevenue.ToString("C", new CultureInfo("en-US"))</span>
                            }</p>
                    </div>
                        <div>
                            <h6><i class="bi bi-clipboard2-pulse-fill"></i> All-time Revenue</h6>
                        <p>
                            @if (AllTimeRevenue == null)
                            {
                                <span>--</span>
                            }
                            else
                            {
                                <span>@AllTimeRevenue.ToString("C", new CultureInfo("en-US"))</span>
                            }
                        </p>
                        </div>
                    </div>
                    <div>
                        <div class="orders">
                            <div>
                                <h6>today orders</h6>
                            <p>
                                @if (TodayOrdres == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@TodayOrdres</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>today earnings</h6>
                            <p>
                                @if (TodayRevenue == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@TodayRevenue.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                            <span><span>1D</span></span>
                            </div>
                        </div>
                        <div class="orders">
                            <div>
                                <h6>yesterday orders</h6>
                            <p>
                                @if (YesterdayOrders == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@YesterdayOrders</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>yesterday earnings</h6>
                            <p>
                                @if (YesterdayEarnings == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@YesterdayEarnings.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                            <span><span>-1D</span></span>
                            </div>
                        </div>
                        <div class="orders">
                            <div>
                                <h6>this week orders</h6>
                            <p>
                                @if (ThisWeekOrders == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisWeekOrders</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>this week earnings</h6>
                            <p>
                                @if (ThisWeekEarnings == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisWeekEarnings.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                            <span><span>7D</span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="orders">
                            <div>
                                <h6>this month orders</h6>
                            <p>
                                @if (ThisMonthOrders == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisMonthOrders</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>this month earnings</h6>
                            <p>
                                @if (ThisMonthEarnings == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisMonthEarnings.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                            <span><span>30D</span></span>
                            </div>
                        </div>
                        <div class="orders">
                            <div>
                                <h6>this year orders</h6>
                            <p>
                                @if (ThisYearOrders == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisYearOrders</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>today earnings</h6>
                            <p>
                                @if (ThisYearEarnings == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@ThisYearEarnings.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                            <span><span>1Y</span></span>
                            </div>
                        </div>
                        <div class="orders">
                            <div>
                                <h6>all-time orders</h6>
                            <p>
                                @if (orderDto == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@orderDto.Count()</span>
                                }
                            </p>
                            </div>
                            <div>
                                <h6>today earnings</h6>
                            <p>
                                @if (AllTimeRevenue == null)
                                {
                                    <span>--</span>
                                }
                                else
                                {
                                    <span>@AllTimeRevenue.ToString("C", new CultureInfo("en-US"))</span>
                                }
                            </p>
                            </div>
                            <div>
                                <span>
                                <span>+00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6 class="table_title">last 20 orders</h6>
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>order id</td>
                                            <td>client name</td>
                                            <td>date</td>
                                            <td>phone</td>
                                            <td>total</td>
                                            <td>status</td>
                                            <td>method</td>
                                            <td>action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @if(orderDto != null)
                                    {
                                        var orderList = orderDto.ToList();
                                        @for (int i = Math.Max(ordersCount - 1, 0); i >= Math.Max(ordersCount - maxValue, 0); i--)
                                        {
                                            var order = orderList[i];
                                            <tr>
                                                <td>@order.OrderId</td>
                                                <td>@($"{order.UserFirstName} {order.UserLastName}")</td>
                                                <td>@order.OrderDate</td>
                                                <td>@order.phoneNumber</td>
                                                <td>@order.TotalPrice.ToString("C", new CultureInfo("en-US"))</td>
                                                <td>@order.ApprovalStatusTitle</td>
                                                <td>COD</td>
                                                <td><button @onclick="() => ViewOrderDetails(order.OrderId)">details</button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </Authorized>
</AuthorizeView>
