@page "/"
@inherits BooksBase

<div class="slogon">
    <div class="ach-container">
        <div class="slogon-text">
            <p>buy <span class="ch-bb">&</span> sell your books <span class="ch-bb">online</span>.</p>
            <AuthorizeView>
                <Authorized>
                    <span class="becomeAseller @hideCTALink" @onclick="BecomeASeller">become a seller</span>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="slogon-image">
            <img src="/Images/Website-Images/glasses-over-books-01.svg" alt="books-image" />
        </div>
    </div>
</div>


<div class="ds-books">
    <div class="ach-container content">
        @if (Books == null || SelfHelpBooks == null)
        {
            <LoadingAnimation/>
        }
        else
        {
            @*Start new arrivals*@
            <div>
                @if (RecentlyViewedBooks != null && RecentlyViewedBooks.Count() > 0)
                {
                    if (RecentlyViewedBooks.Count() > 7)
                    {
                        <span class="arrow-container">
                            <i class="bi bi-arrow-left" @onclick="PrevSlide"></i>
                            <i class="bi bi-arrow-right" @onclick="NextSlide"></i>
                        </span>
                    }
                    <a href="#" class="ct-title">Recently Viewed</a>
                    ToDisplayBooks = RecentlyViewedBooks;
                }
                else
                {
                    <span class="arrow-container">
                        <i class="bi bi-arrow-left" @onclick="PrevSlide"></i>
                        <i class="bi bi-arrow-right" @onclick="NextSlide"></i>
                    </span>
                    <a href="#" class="ct-title">new arrivals</a>
                    ToDisplayBooks = Books;
                }
                    
                @if (Books.Count() > 0)
                {
                    var booksCount = ToDisplayBooks.Count();
                    const int booksPerRow = 6;
                    var booksRowList = new List<BookDto>();
                    <div class="book-card" style="transform: translateX(@(-index)px);">
                        @for (int i = 0; i < booksPerRow; i++)
                        {
                            booksRowList = ToDisplayBooks.Skip(i * booksPerRow).Take(booksPerRow).ToList();
                            int counter = 0;
                            @foreach (var book in booksRowList)
                            {
                                if(counter < 5){
                                    <a href="/BookDetails/@book.Id">
                                        <div class="img-cont">
                                            <img class="image-thumbnail" src="@book.ImageURL" />
                                        </div>
                                        <div class="card-body">
                                            <h6>@book.Title</h6>
                                            <p><span>$</span>@book.Price</p>
                                        </div>
                                    </a>
                                    counter++;
                                }
                            }

                        }
                    </div>
                }
            </div>

            @*End new arrivals*@
            @*Start self-help*@
            @if (TopViewedCategoyBooks != null)
            {
                <div>
                    @if (TopViewedCategoyBooks.Count() > 7)
                    {
                        <span class="arrow-container">
                            <i class="bi bi-arrow-left" @onclick="PrevSlideF"></i>
                            <i class="bi bi-arrow-right" @onclick="NextSlideF"></i>
                        </span>
                    }
                    <a href="#" class="ct-title">@TopViewedCategoyName</a>
                    @if (TopViewedCategoyBooks.Count() > 0)
                    {
                        var booksCount = TopViewedCategoyBooks.Count();
                        const int booksPerRow = 6;
                        var booksRowList = new List<BookDto>();
                        <div class="book-card" style="transform: translateX(@(-indexF)px);">
                            @for (int i = 0; i < booksPerRow; i++)
                            {
                                booksRowList = TopViewedCategoyBooks.Skip(i * booksPerRow).Take(booksPerRow).ToList();
                                int counter = 0;
                                @foreach (var book in booksRowList)
                                {
                                    if (counter < 5)
                                    {
                                        <a href="/BookDetails/@book.Id">
                                            <div class="img-cont">
                                                <img class="image-thumbnail" src="@book.ImageURL" />
                                            </div>
                                            <div class="card-body">
                                                <h6>@book.Title</h6>
                                                <p><span>$</span>@book.Price</p>
                                            </div>
                                        </a>
                                        counter++;
                                    }
                                }

                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    @if (SelfHelpBooks.Count() > 7)
                    {
                        <span class="arrow-container">
                            <i class="bi bi-arrow-left" @onclick="PrevSlideF"></i>
                            <i class="bi bi-arrow-right" @onclick="NextSlideF"></i>
                        </span>
                    }
                    <a href="#" class="ct-title">self-help</a>
                    @if (SelfHelpBooks.Count() > 0)
                    {
                        var booksCount = ToDisplayBooks.Count();
                        const int booksPerRow = 6;
                        var booksRowList = new List<BookDto>();
                        <div class="book-card" style="transform: translateX(@(-indexF)px);">
                            @for (int i = 0; i < booksPerRow; i++)
                            {
                                booksRowList = SelfHelpBooks.Skip(i * booksPerRow).Take(booksPerRow).ToList();
                                int counter = 0;
                                @foreach (var book in booksRowList)
                                {
                                    if (counter < 5)
                                    {
                                        <a href="/BookDetails/@book.Id">
                                            <div class="img-cont">
                                                <img class="image-thumbnail" src="@book.ImageURL" />
                                            </div>
                                            <div class="card-body">
                                                <h6>@book.Title</h6>
                                                <p><span>$</span>@book.Price</p>
                                            </div>
                                        </a>
                                        counter++;
                                    }
                                }

                            }
                        </div>
                    }
                </div>
            }
            @*End self-help*@
            @*Start recommended*@

            <div>
                <span class="arrow-container">
                    <i class="bi bi-arrow-left" @onclick="PrevSlideR"></i>
                    <i class="bi bi-arrow-right" @onclick="NextSlideR"></i>
                </span>
                <a href="#" class="ct-title">others</a>

                @if (Books.Count() > 0)
                {
                    var booksCount = Books.Count();
                    const int booksPerRow = 6;
                    var booksRowList = new List<BookDto>();
                    <div class="book-card" style="transform: translateX(@(-indexR)px);">
                        @for (int i = 0; i < booksPerRow; i++)
                        {
                            booksRowList = Books.Skip(i * booksPerRow).Take(booksPerRow).ToList();
                            int counter = 0;
                            @foreach (var book in booksRowList)
                            {
                                if (counter < 5)
                                {
                                    <a href="/BookDetails/@book.Id">
                                        <div class="img-cont">
                                            <img class="image-thumbnail" src="@book.ImageURL" />
                                        </div>
                                        <div class="card-body">
                                            <h6>@book.Title</h6>
                                            <p><span>$</span>@book.Price</p>
                                        </div>
                                    </a>
                                    counter++;
                                }
                            }

                        }
                    </div>
                }
            </div>
            @*End recommended*@
        }
    </div>
</div>
<AuthorizeView>
    <Authorized>
        <div class="sellerCTA @hideCTA">
            <div>
                <i class="bi bi-x-circle" @onclick="HideCTA"></i>
            </div>
            <button @onclick="BecomeASeller">become a seller</button>
        </div>
    </Authorized>
</AuthorizeView>